@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p span a {
  font-family: "Montserrat", sans-serif;
}
.main_dashboard {
  background-color: #eee;
}
.dashboard_section_top {
  width: 100%;

  height: 60px;

  border-bottom: 2px solid #ced4da;
}

.dashboard_section_wrapper {
  width: 100%;
  margin-top: 60px;

  height: 60px;

  display: flex;

  align-items: center;

  justify-content: space-between;
}

.dashboard_breadcam {
  padding-top: 10px;
}

.dashboard_breadcam h2 {
  font-size: 28px;
  font-weight: bold;
  line-height: 35px;
  padding-left: 3px;

  color: #000;
}

.dashboard_feature {
  padding-top: 10px;
  display: flex;
}

.dashboard_feature p {
  font-size: 16px;

  color: #696969;

  font-weight: 600;
}

.dashboard_feature .feature-dropdown {
  background: transparent;
  border: 0;
  margin-top: -5px;
  outline: none;
}
.dashboard_feature .feature-dropdown .btn-featured {
  color: #000;
  font-size: 16px;
  outline: none;
  border: none;
  line-height: 21px;
  margin-left: -8px;
  box-shadow: none;
  font-weight: 700;
}
.dashboard_feature .feature-dropdown ul li a {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  padding: 5px 0px 5px 15px;
}

.dashboard_search {
  width: 100%;

  height: 60px;

  border-bottom: 2px solid #ced4da;
}

.search_box_wrapper {
  display: flex;

  padding: 10px 0px;

  justify-content: space-between;
}
.sidebar-toggler {
  display: none;
}
.search_box_wrapper .search {
  position: relative;
}

.search_box_wrapper .search-txt {
  width: 400px;

  background: transparent;

  height: 40px;

  border-radius: 30px;

  position: relative;

  padding-left: 10px;

  border: 0;

  outline: none;

  border: 2px solid #ced4da;

  color: #000;

  font-size: 12px;
  font-weight: 500;
  line-height: 40px;
}

.search a {
  position: absolute;

  top: 13px;

  right: 15px;
  color: #000;
  text-decoration: none;
}
.search a:hover {
  transform: scale(1.2, 1.2);
}

#stored_item {
  width: 62%;

  height: auto;

  display: flex;
}

#stored_item ul {
  padding-left: 10px;

  padding-top: 7px;
}

#stored_item ul li {
  list-style: none;

  display: inline-block;

  padding: 0px 5px;
}

#stored_item ul li a {
  font-size: 14px;

  border-radius: 25px;

  background: #f8f8f8;

  color: #000;

  padding: 10px 16px;

  font-weight: 700;

  text-decoration: none;
}

#stored_item ul li a i {
  transform: rotate(136deg);

  margin-left: 10px;

  color: #000;

  opacity: 0.4;

  font-size: 12px;
}

#stored_item ul li a i:hover {
  color: #000;

  opacity: 100% !important;
}

.result_right {
  padding-right: 10px;
}

.result_right p {
  font-size: 16px;

  line-height: 25px;

  padding-top: 5px;

  color: #696969;

  font-weight: 600;
}

.result_right span {
  font-size: 16px;

  font-weight: 600;

  color: #000;

  padding-left: 4px;
}

.dashboard_section {
  width: 100%;

  height: auto;
  background: #eee;
}

.dashboard_flex {
  width: 100%;

  height: auto;

  display: flex;
}

.dashboard_flex .left_sidebar {
  width: 300px;

  padding: 10px 20px 10px 0px;

  height: 778px;

  background: #fff;

  border: 2px solid #ced4da;

  position: relative;

  margin-top: 12px;
  border-radius: 10px;
  padding: 12px;
}

.nav_sidebar {
  padding-left: 5px;

  background: #fff;

  -webkit-border-radius: 4px;

  -moz-border-radius: 4px;

  border-radius: 4px;
}

.left_sidebar ul li {
  list-style: none;

  margin: 5px 0px 0px;
}

.nav_sidebar .submenu {
  color: #787887;

  display: block;

  line-height: 25px;
  font-size: 15px;
  width: 200px;
  font-weight: 600;
  border-top: 2px solid #ced4da;

  border-bottom: 2px solid #ced4da;
  padding: 0 18px;

  margin-bottom: 5px;
}

.nav_sidebar .submenu a {
  display: block;

  text-decoration: none;

  color: #000;

  font-weight: 600;

  font-size: 14px;
}

.nav_sidebar .submenu a:hover {
  background: #f8f8f8;

  color: blue;
}
.nav_sidebar .submenu-1 {
  padding-left: 0px;
}

.nav_sidebar .submenu-1 li a {
  display: block;

  text-decoration: none;

  color: #000;

  padding: 3px 0px;

  font-weight: 700;

  font-size: 15px;

  -webkit-transition: all 0.25s ease;

  -o-transition: all 0.25s ease;

  transition: all 0.25s ease;
}

.form-group-fees {
  display: block;
  margin-bottom: 5px;
  position: relative;
}

.form-group-fees input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  cursor: pointer;
}

.form-group-fees label {
  position: relative;
  cursor: pointer;

  color: #000;
  margin-left: 5px;

  padding: 3px 0px;

  font-weight: 700;

  font-size: 15px;

  -webkit-transition: all 0.25s ease;

  -o-transition: all 0.25s ease;

  transition: all 0.25s ease;
}

.form-group-semester {
  display: block;
  margin-bottom: 5px;
  position: relative;
}

.form-group-semester input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  cursor: pointer;
}

.form-group-semester label {
  position: relative;
  cursor: pointer;

  color: #000;
  margin-left: 5px;

  padding: 3px 0px;

  font-weight: 700;

  font-size: 15px;

  -webkit-transition: all 0.25s ease;

  -o-transition: all 0.25s ease;

  transition: all 0.25s ease;
}

.link:hover {
  color: #f47c57;
}

.nav_sidebar .submenu {
  background: #fff;

  overflow: hidden;

  position: static;

  -webkit-transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  padding: 7px 20px;

  margin: -12px 0px;

  display: none;
}

/*.nav_sidebar .submenu::-webkit-scrollbar {

    width: 5px;

}



.nav_sidebar .submenu::-webkit-scrollbar-track {

    background-color: #ebebeb;

    -webkit-border-radius: 5px;

    border-radius: 5px;

}



.nav_sidebar .submenu::-webkit-scrollbar-thumb {

    -webkit-border-radius: 5px;

    border-radius: 5px;

    background: #6d6d6d;

}*/

.nav_sidebar li.open .submenu {
  /*padding:15px;*/

  display: block;

  padding: 0px;
  margin-bottom: 6px;
}

.left_sidebar ul li.open {
  list-style: none;
}

.nav_sidebar li i {
  font-size: 24px;

  color: #707070;

  font-weight: 600;
}

.nav_sidebar li.open i {
  -webkit-transform: rotate(180deg);

  /*transform: rotate(180deg);*/

  transform: rotate(136deg);
}

.nav_sidebar .link {
  cursor: pointer;

  display: block;
  width: 200px;
  padding: 10px 15px 10px 0px;

  color: #000;
  border-bottom: 2px solid #ced4da;
  font-size: 16px;

  font-weight: 700;
  margin-bottom: 10px;

  position: relative;
}

.nav_sidebar .link small {
  font-size: 12px;

  font-weight: 500;

  color: #696969;
}

.nav_sidebar li {
  list-style: none;
}

.nav_sidebar li:last-child .link {
  border-bottom: 0;
}

.nav_sidebar li .link i {
  position: absolute;

  top: 18px;

  right: 85px;

  font-size: 12px;

  color: #000;

  opacity: 0.4;

  -webkit-transition: all 0.4s ease;

  -o-transition: all 0.4s ease;

  transition: all 0.4s ease;
}

.nav_sidebar li .link .fa-plus {
  right: 65px;

  left: auto;

  font-size: 12px;
}

.nav_sidebar li.open .link {
  color: #000;
  border-bottom: transparent;
  padding-bottom: 15px;
}

.nav_sidebar li.open i {
  color: #000;
}

.nav_sidebar li.open i.fa-plus {
  -webkit-transform: rotate(180deg);

  transform: rotate(136deg);
}

.nav_sidebar .submenu a:hover {
  background: #f8f8f8;

  color: #008000;
}

.nav_sidebar .submenu li a i {
  margin-left: 15px;

  font-size: 12px;

  color: #000;

  opacity: 0.4;

  -webkit-transition: all 0.4s ease;

  -o-transition: all 0.4s ease;

  transition: all 0.4s ease;
}

.range-slider {
  text-align: center;

  position: relative;

  padding-top: 10px;
  padding-bottom: 10px;
}

.rangeValues {
  display: flex;

  width: 185px;

  padding-top: 12px;

  font-size: 12px;

  font-weight: 500;

  color: #000;
  margin-left: 10px;
}

.rangeValues span {
  color: transparent;
  width: 175px;
}

input[type="range"] {
  -webkit-appearance: none;

  border: 1px solid white;

  width: 200px;

  position: absolute;

  left: 0;
  right: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 200px;

  height: 4px;

  background: #ddd;

  border: none;

  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;

  border: none;

  height: 16px;

  width: 16px;

  border-radius: 50%;

  border: 2px solid #008000;

  background: #fff;

  margin-top: -6px;

  cursor: pointer;

  position: relative;

  z-index: 1;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #008000;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type="range"]::-moz-range-track {
  width: 200px;

  height: 5px;

  background: #ddd;

  border: none;

  border-radius: 3px;
}

input[type="range"]::-moz-range-thumb {
  border: none;

  height: 16px;

  width: 16px;

  border-radius: 50%;

  background: #21c1ff;
}

/*hide the outline behind the border*/

input[type="range"]:-moz-focusring {
  outline: 1px solid white;

  outline-offset: -1px;
}

input[type="range"]::-ms-track {
  width: 300px;

  height: 5px;

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */

  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */

  border-color: transparent;

  border-width: 6px 0;

  /*remove default tick marks*/

  color: transparent;

  z-index: -4;
}

input[type="range"]::-ms-fill-lower {
  background: #777;

  border-radius: 10px;
}

input[type="range"]::-ms-fill-upper {
  background: #ddd;

  border-radius: 10px;
}

input[type="range"]::-ms-thumb {
  border: none;

  height: 16px;

  width: 16px;

  border-radius: 50%;

  border: 2px solid #21c1ff;
}

input[type="range"]:focus::-ms-fill-lower {
  border: 1px solid #888;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #ccc;
}
.dashboard_flex .main_dashboard {
  width: 100%;

  height: auto;

  padding: 0px 0px 0px 10px;

  background-color: #eee;
}

.main_content_box {
  width: 100%;

  height: 185px;

  background: #fff;

  border-radius: 10px;

  margin: 10px 0px;

  border: 2px solid #ced4da;
}

.main_content_wrapper {
  width: 100%;

  display: flex;
}

.main_content_wrapper .dashboard_image {
  /*width:25%;*/

  padding: 0px 10px;
}

.main_content_wrapper .dashboard_image img {
  width: 80%;

  height: auto;

  margin: 47px 20px;
}

.main_content_wrapper .dashboard_detail {
  /*width:65%;*/

  height: auto;

  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.main_content_wrapper .dashboard_detail h4 {
  font-size: 25px;

  font-weight: bold;

  color: #000;

  line-height: 28px;

  margin: 0;
}

.main_content_wrapper .dashboard_detail p {
  font-size: 16px;

  font-weight: 600;

  color: #696969;

  margin-bottom: 1px;
}

.dashboard_detail_item {
  padding-top: 10px;

  padding-left: 0px;
}

.dashboard_detail_item li {
  display: inline-block;

  list-style: none;

  width: 165px;

  height: 60px;

  font-size: 14px;
  color: #000;
}

.dashboard_detail_item li img {
  display: inline-block;

  margin-right: 5px;
  width: 25px;
}

.main_content_wrapper .dashboard_butoon {
  /*width:15%;*/

  margin: 45px 0px;
  padding-left: 15px;
}

.apply_btn {
  background-color: transparent;

  color: #fff;

  text-transform: uppercase;

  font-size: 12px;

  padding: 10px 15px;

  font-weight: 600;

  border-radius: 25px;

  box-shadow: 0 0 0 2em #008000 inset;
}

.apply_btn:hover {
}

.apply_btn .fas {
  position: absolute;

  margin-left: 7px;

  opacity: 0;

  margin-top: 3px;
}

.apply_btn:hover .fas {
  opacity: 1;

  transform: translateX(0);
}

.apply_btn:before {
  content: "";

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  transform: scaleX(0);

  transition: 100ms ease in out transform;
}

.readmore_btn {
  background-color: transparent;

  color: #fff;

  text-transform: uppercase;

  font-size: 12px;

  padding: 10px 15px 9px;

  font-weight: 600;

  margin-top: 10px;

  border-radius: 25px;

  box-shadow: 0 0 0 2em #008000 inset;
}

.readmore_btn:hover {
}

.readmore_btn .fas {
  position: absolute;

  margin-left: 7px;

  opacity: 0;

  margin-top: 3px;
}

.readmore_btn:hover .fas {
}

.readmore_btn:before {
  content: "";

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  transform: scaleX(0);

  transition: 100ms ease in out transform;
}

.search_box_wrapper .search-txt:focus::placeholder {
  color: transparent;
}

.pagination {
  padding: 15px 0px 22px;
}

.pagination ul {
  margin: 0 auto;

  display: inline-block;
}

.pagination ul li {
  display: inline-block;

  list-style: none;
}
.pagination ul li a {
  background: transparent;
  width: 30px;

  height: 30px;

  line-height: 30px;
  font-weight: 500;
  color: #000;
  padding: 9px 15px;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid #057b03;
}
.pagination ul li a:hover {
  background: #057b03;
  color: #fff;
}

.pagination ul #prev {
  background: transparent;
  width: 30px;
  padding: 8px 15px;
  height: 30px;
  color: #fff;
}

.pagination ul #prev i {
  font-size: 14px;
  color: #000;
}
.pagination ul #prev:hover i {
  color: #057b03;
}

.pagination ul #next {
  width: 30px;
  height: 30px;
  padding: 8px 15px;
  background: transparent;
}

.pagination ul #next i {
  font-size: 14px;
  color: #000;
}
.pagination ul #next:hover i {
  color: #057b03;
}

@media (max-width: 767px) {
  .dashboard_section_top {
    width: 100%;

    height: auto;
  }
  .dashboard_breadcam {
    padding-top: 0px;
  }
  .sidebar-toggler {
    display: block;
    text-align: center;
    z-index: 2;
    width: 100px;
    height: 35px;
    line-height: 35px;
    margin: 15px auto;
    background-color: #4bb200;
    outline: blue;
    border: 0;
    color: #fff;
  }
  .dashboard_breadcam h2 {
    font-size: 18px;
    padding-left: 5px;
  }
  .dashboard_feature {
    margin-left: -10px;
  }

  .search_box_wrapper {
    width: 100%;
  }

  .search_box_wrapper .search-txt {
    width: 240px;
  }

  .dashboard_flex {
    width: 100%;

    height: auto;
  }

  .dashboard_flex {
    display: grid;

    width: 100%;
  }

  .dashboard_flex .left_sidebar {
    width: 100%;

    height: auto;
  }
  #stored_item {
    display: none;
  }

  .nav_sidebar .link {
    width: 90%;
  }
  .dashboard_flex .main_dashboard {
    width: 100%;

    height: auto;
  }

  .dashboard_flex .left_sidebar {
    padding: 10px 0px;

    width: 100%;
  }

  .nav_sidebar {
    width: 100%;

    padding-left: 20px;
  }
  .nav_sidebar li.open .submenu {
    width: 90%;
  }

  input[type="range"] {
    width: 100% !important;
  }
  .rangeValues {
    width: 95%;
  }
  .rangeValues span {
    width: 90% !important;
  }

  .main_content_box {
    width: 100%;

    height: auto;

    padding: 10px 0px 20px 30px;
    margin: 20px 0px;
  }

  .main_content_wrapper {
    width: 100%;

    display: grid;
  }

  .main_content_wrapper .dashboard_image {
    width: 100%;

    height: auto;
  }

  .main_content_wrapper .dashboard_image img {
    width: 100%;

    height: auto;

    margin: 0px;
  }

  .main_content_wrapper .dashboard_detail {
    width: 100%;

    height: auto;
    padding-left: 10px;
    padding-right: 0px;

    padding-top: 10px;
  }

  .dashboard_detail_item {
    margin-bottom: 0px;
    padding-top: 10px !important;
  }

  .dashboard_detail_item li {
    width: 155px !important;

    font-weight: 600;
    height: 45px;

    font-size: 13px !important;
  }

  .dashboard_detail_item li img {
    width: 25px;
  }

  .main_content_wrapper .dashboard_butoon {
    width: 100%;

    height: auto;
    padding: 0px 10px !important;

    margin: 10px 0px;
  }

  .readmore_btn {
    margin-top: 0px;
  }
  .pagination {
    margin-bottom: 15px;
  }
  .pagination ul {
    padding-left: 0px;
  }
}

@media (max-width: 1320px) {
  .dashboard_flex {
    width: 100%;
  }
  .dashboard_flex .left_sidebar {
    padding: 10px 0px;
  }
  /*.nav_sidebar{
    padding-left: 50px;
  }*/
  .dashboard_detail_item {
    padding-top: 0px;
  }
  .dashboard_detail_item li img {
    width: 25px;
  }
  .dashboard_detail_item li {
    font-size: 13px;
    width: 150px;
  }
  input[type="range"] {
    width: 200px;
  }
  .main_content_wrapper .dashboard_butoon {
    padding: 0px;
  }
}

@media (max-width: 1200px) {
  .dashboard_flex {
    width: 100%;
  }
  .dashboard_flex .left_sidebar {
    padding: 10px 0px;
  }
  /*.nav_sidebar{
    padding-left: 50px;
  }*/
  .dashboard_detail_item {
    padding-top: 0px;
  }
  .dashboard_detail_item li img {
    width: 25px;
  }
  .dashboard_detail_item li {
    font-size: 12px;
    width: 150px;
  }
  input[type="range"] {
    width: 200px;
  }
  .main_content_wrapper .dashboard_butoon {
    padding: 0px;
  }
}

@media only screen and (max-width: 1199px) {
  .dashboard_flex {
    width: 100%;
  }
  .dashboard_flex .left_sidebar {
    padding: 10px 0px;
  }
  /*.nav_sidebar{
    padding-left: 50px;
  }*/
  .dashboard_detail_item {
    padding-top: 0px;
  }
  .dashboard_detail_item li img {
    width: 25px;
  }
  .dashboard_detail_item li {
    font-size: 12px;
    width: 150px;
  }
  input[type="range"] {
    width: 200px;
  }
  .main_content_wrapper .dashboard_butoon {
    padding: 0px;
  }
}

@media (max-width: 1024px) {
  .dashboard_flex {
    width: 100%;
  }
  .dashboard_flex .left_sidebar {
    padding: 10px 0px;
  }
  /*.nav_sidebar{
    padding-left: 50px;
  }*/
  .nav_sidebar .submenu {
    width: 180;
  }
  .dashboard_detail {
    padding-left: 0px;
    padding-right: 0px;
  }
  .dashboard_detail_item {
    padding-top: 0px;
  }
  .dashboard_detail_item li img {
    width: 20px;
  }
  .dashboard_detail_item li {
    font-size: 12px;
    width: 130px;
    font-weight: 600;
  }
  .apply_btn {
    padding: 10px 15px;
  }
  .readmore_btn {
    padding: 10px 15px;
  }
  input[type="range"] {
    width: 180px;
  }
  .main_content_wrapper .dashboard_butoon {
    padding: 0px;
  }
}

@media (max-width: 991px) {
  .dashboard_flex {
    width: 100%;
  }
  .dashboard_flex .left_sidebar {
    padding: 10px 0px;
  }
  /*.nav_sidebar{
    padding-left: 50px;
  }*/
  .nav_sidebar .submenu {
    width: 180px;
  }
  .dashboard_detail {
    padding-left: 0px;
    padding-right: 0px;
  }
  .dashboard_detail_item {
    padding-top: 0px;
  }
  .dashboard_detail_item li img {
    width: 20px;
  }
  .dashboard_detail_item li {
    font-size: 12px;
    width: 130px;
    font-weight: 600;
  }
  .apply_btn {
    padding: 10px 15px;
  }
  .readmore_btn {
    padding: 10px 15px;
  }
  input[type="range"] {
    width: 180px;
  }
  .main_content_wrapper .dashboard_butoon {
    padding: 0px;
  }
}
